<% content_for :title, "New tweet" %>

<div class="container">
  <h1 class="display-4">New tweet</h1>

  <%= render 'tweet_form', tweet: @tweet %>

  <br>

  <div>
    <%= link_to "Back to tweets", tweets_path, class: "btn btn-secondary" %>
  </div>
</div>
