<%= render partial: 'users/user_profile', locals: { user: @user } %>

<div class="container">

  <%= turbo_frame_tag "tweets-page-#{@tweets.current_page}" do %>
    <%= render @tweets %>

    <%= turbo_frame_tag "tweets-page-#{@tweets.next_page}", loading: :lazy, src: path_to_next_page(@tweets) %>
  <% end %>
</div>
