.tweets {
  padding-bottom: 20px;
}

.tweet-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tweet-container {
  background-color: #f5f8fa;
  border: 1px solid #e1e8ed;
  border-radius: 8px;
  padding: 16px;
  max-width: 500px;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

//
.tweet-container.show {
  .tweet-username {
    text-decoration: none;
    font-weight: bold;
    color: #14171a;
    margin-bottom: 8px;
    font-size: 18px;
  }

  .tweet-content {
    color: #657786;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 1.5;
  }

  .tweet-timestamp {
    color: #aab8c2;
    font-size: 14px;
    margin: 0px;
  }

  .tweet-actions {
    display: flex;
    justify-content: right;
    gap: 8px;
  }

  .edit-button {
    color: #14171a;
    display: inline-block;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }

  .edit-button:hover {
    background-color: #d4dadc;
  }

  .delete-button {
    color: #14171a;
    border: none;
    padding: 4px 6px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
  }

  .delete-button:hover {
    background-color: #f592b0;
  }

  .tweet-user-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    color: inherit;

    &:hover {
      box-shadow: inset 0 -1px 0 0 #ddd;
    }

    .tweet-user-icon {
      margin-right: 8px;
    }

    .icon-placeholder {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      background-color: #ddd;
    }
  }
}

.tweet-container.edit {
  textarea {
    display: block;
    width: 95%;
    height: 100px;
    margin: 8px auto;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
  }

  .tweet-actions {
    display: flex;
    justify-content: right;
    gap: 8px;
  }

  .cancel-button {
    text-decoration: none;
    display: inline-block;
    background-color: #e1e8ed;
    color: #14171a;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .cancel-button:hover {
    background-color: #d4dadc;
  }

  .submit-button {
    background-color: #1da1f2;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }

  .submit-button:hover {
    background-color: #0f81d9;
  }
}


.new-tweet-icon {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 56px;
  height: 56px;
  background-color: #0180ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #3d9eff;
  }

  span {
    display: block;
    line-height: 1;
  }
}

////////////////////////////////////
/// ツイートのフィルタリングタブメニュー

.tweets-filter-links {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tweets-filter-link {
  text-decoration: none;
  font-weight: bold;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;

  &:first-child {
    border-right: solid 1px #ddd;
  }

  // デフォルトのリンクの色
  color: #007bff;

  // ホバー時のスタイル
  &:hover {
    background-color: #f0f8ff;
    color: #0056b3;
  }

  // フォーカス時のスタイル
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }

  // アクティブ時のスタイル
  &.active {
    background-color: #007bff;
    color: #fff;
  }
}


.tweets-container {
  max-width: 800px; /* コンテナの最大幅を設定 */
  margin: 20px auto; /* 上下にマージンを追加し、中央寄せ */
  padding: 10px;
}
